In [110]:
import numpy as np
import pandas as pd

In [111]:
pd.__version__

'2.0.3'

In [112]:
df = pd.read_csv(r"C:\Users\Phyo Min Khant\Downloads\raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv")

In [113]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [27]:
columns_with_missing_data = df.isna()
columns_with_missing_data.any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

In [83]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [36]:
df.groupby('ocean_proximity').median_house_value.mean()

ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64

In [56]:
df.total_bedrooms.mean()

537.8705525375618

In [108]:
df.total_bedrooms.fillna(300, inplace=True)

In [58]:
df.total_bedrooms.mean()

535.4849321705426

In [122]:
unique_ocean_proximity = df['ocean_proximity'].unique()
len(unique_ocean_proximity)

5

In [107]:
island = df[df['ocean_proximity']== 'ISLAND']
island

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [89]:
x = island[['housing_median_age', 'total_rooms','total_bedrooms']]
x

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [104]:
x.dot(x.T)

           8314       8315       8316       8317       8318
8314  3077795.0  4260640.0  3830881.0  1807248.0  1311577.0
8315  4260640.0  5916866.0  5322889.0  2508292.0  1817026.0
8316  3830881.0  5322889.0  4788977.0  2256364.0  1634008.0
8317  1807248.0  2508292.0  2256364.0  1064416.0   771140.0
8318  1311577.0  1817026.0  1634008.0   771140.0   559293.0

In [100]:
xTx = x.T.dot(x)

In [102]:
xTxinv = np.linalg.inv(xTx)
y = [950, 1300, 800, 1000, 1300]
xTx

                    housing_median_age  total_rooms  total_bedrooms
housing_median_age              9682.0     351053.0         91357.0
total_rooms                   351053.0   14399307.0       3772036.0
total_bedrooms                 91357.0    3772036.0        998358.0

In [106]:
g = xTxinv.dot(x.T)
w = g.dot(y) 
w

array([23.12330961, -1.48124183,  5.69922946])